<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="../../global/styles.css">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    "I have also lost the labels for these packages. Can you fix them for me?"
                </template>

                <hr width="100%">

                <div class="rules">
                    Rules:<br>
                    <ul>
                        <li>There are seven levels in total.</li>
                        <li>Your target is to identify all pairs of entangled balls in each package.</li>
                        <li>In each level, there are a number of pairs of entangled balls. The balls are <b>orthogonically adjacent</b>, and they always have the <b>same state</b>.</li>
                        <li>There are also other balls which are not entangled with any balls.</li>
                        <li>You can open the package to gain information on the positions of the balls. 
                            After opening the package, you can reset the package back to the original states.</li>
                        <li>To label a pair, click on the two cells that the entangled balls are at.</li>
                        <li>Clicking on a labelled cell will remove the connection.</li>
                        <li>Hint: Measure multiple times to rule out balls that cannot be entangled!</li>
                    </ul>
                </div>
                

                <hr width="100%">

                <div class="game">
                    <template v-if="level <= LEVELMAX">
                        <div class="level-display">Level {{level}}</div>
                        <div class="pair-display">Entangled Pairs: {{this.maxPair}}</div>

                        <div class="main-game-content">
                            <div class="box-con">
                                <span class="box-label">Box</span>
                                <table>
                                    <tr v-for="r in curRows">
                                        <td v-for="c in curCols" :class="[getBallColour(r, c), seed === -1 ? 'unopened' : '']">
                                            {{getCellDisplay()}}
                                        </td>
                                    </tr>
                                </table>
                                <div class="button-con">
                                    <button @click="measure">Open the box</button>
                                    <button @click="reset">Reset</button>
                                </div>
                            </div>

                            <div class="selection-con">
                                <span class="box-label">Label</span>
                                <table>
                                    <tr v-for="r in curRows">
                                        <td v-for="c in curCols" :class="[getLabelDisplayColour(r, c), (correct ? 'correct' : '')]" @click="select(r, c)">
                                            {{getLabelDisplay(r, c)}}
                                        </td>
                                    </tr>
                                </table>
                                <div v-show="correct" class="right">
                                    Correct! <button @click="proceed">Proceed</button>
                                </div>
                                <div v-show="!correct" class="button-con">
                                    <button @click="resetSelection">Reset Selection</button>
                                    <button @click="submit">Submit</button>
                                </div>
                                <span :class="{ 'invisible': wrongTimer == 0 }" class="wrong">Hmm... your label seems to be wrong.</span>
                            </div>
                        </div>
                    </template>
                    <div v-else="level > LEVELMAX">
                        Task completed!<br><br>
                        As a reference, you jotted down <span class="password">{{text.password}}</span> in your memo.<br>
                        <button @click="resetGame">Play Again</button>
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
