<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <hr width="100%">

                <div class="intro">
                    <p>
                        He brought you to a room filled with boxes.
                        After that, he removed 16 boxes from the shelf. Each of them had a 
                        colour-changing label that looked like this:
                    </p>

                    <div class="label-con">
                        <div class="label">
                            <span>◯</span>
                        </div>
                    </div>
                    
                    <p>
                        He placed the boxes on a table and arranged them in a 4x4 grid.
                    </p>

                    <p>
                        "Try to open the boxes," Stephen said.                 
                    </p>
                    
                    <div class="experiment">
                        <table>
                            <tr v-for="i in 4">
                                <td v-for="j in 4">
                                    <span v-if="seed != -1" :class="classOf(i, j)">◯</span>
                                    <span v-else>?</span>
                                </td>
                            </tr>
                        </table>
    
                        <button @click="openAll(1)">Open all</button>
                    </div>

                    <template v-if="seed != -1">
                        <p>
                            You opened the boxes. There were some red and blue balls lying in each box.
                        </p>

                        <p>
                            He replaced the opened boxes with some new ones. They had the same labels.
                        </p>

                        <p>
                            "Now, take a look at this." 
                            He pulled out a mysterious device from his pocket.
                            He pointed it at the boxes and pressed a button. 
                            The device shed a blue light on the boxes.
                        </p>

                        <img src="src/light.png">

                        <p>
                            "Try to open the boxes again."
                        </p>

                        <div class="experiment experiment2">
                            <table>
                                <tr v-for="i in 4">
                                    <td v-for="j in 4">
                                        <span v-if="seed2 != -1" :class="seed2 == (i - 1) + (j - 1) * 4 ? 'red' : 'blue'">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
                            <button @click="openAll(2)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed2 != -1">
                        <p>
                            The number of blue balls has increased significantly.
                        </p>
                        <p>
                            "Isn't it interesting? By using this device, 
                            I have changed the chance of getting a blue ball.
                            In fact, I can also set it to something else, like 30%.
                            However, this only works if the boxes are closed.
                            It doesn't work if the boxes are opened."
                            He pointed the device at the opened boxes and pressed a different button. The device emitted a red light,
                            but nothing happened to the balls.
                        </p>
                        <p>
                            "However, as long as the boxes are not opened,
                            we can change the colours of the balls," he explained.
                        </p>

                        <p>
                            "These aren't merely loot boxes, these are quantum loot boxes. 
                            The balls are in a <span class="password">SUPERPOSITION</span> state."
                        </p>

                        <p>
                            "What is <span class="password">SUPERPOSITION</span>? For a normal box, 
                            the colour of the ball inside is pre-defined: it is either red or blue, even before you open the box. 
                            For this quantum lootbox, however, the state of the ball is not defined 
                            until you open the box. You have some chance of getting red, and some chance of getting blue.
                            This state is called a <span class="password">SUPERPOSITION</span> state."
                        </p>

                        
                        <img src="src/box.png">

                        <p>
                            "The act of opening the box is called a 'measurement'. What is a measurement?
                            A measurement is when you do something to obtain a result. For example,
                            when you open the box, you are checking if the ball is red or blue. This is a measurement.
                        </p>                        
                        <p>
                            When you perform a measurement, the ball will no longer stay in     
                            <span class="password">SUPERPOSITION</span>. Instead, it will become either red or blue,
                            according to some probability. 
                            What is great about it is that, you can alter this probability
                            before opening it. 
                            For example, when I shone my light on the boxes, I made it such that 
                            the balls had a very high chance of being blue.
                        </p>
                        <p>
                            This is very different from swapping red balls with blue ones!
                            The colours of the balls are not pre-determined in any way. Instead,
                            we are only changing the probability of getting a red or blue ball. 
                            The colour of the ball is only determined when we open the box."
                        </p>

                        <p>
                            "<span class="password">SUPERPOSITION</span> states aren't just limited to colours though." 
                            He removed some more boxes from the shelves. Their labels looked like this:
                        </p>

                        <div class="label-con">
                            <div class="label2">
                                <span>◯</span>
                            </div>
                        </div>

                        <p>
                            "This is a different type of lootbox. Try to open them."
                        </p>

                        <div class="experiment3">
                            <table>
                                <tr v-for="i in 4">
                                    <td v-for="j in 4">
                                        <span v-if="seed3 != -1" :class="classOf(i, j, 3)">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
        
                            <button @click="openAll(3)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed3 != -1">
                        <p>
                            "A quantum object can be in a <span class="password">SUPERPOSITION</span> state of multiple sizes,
                            or multiple locations, or even moving at multiple speeds at multiple directions."
                        </p>

                        <p>
                            "It would be useful if we could describe these using some kind of units.
                            For all the boxes I just show you, we can represent each state with a 0 or 1."
                        </p>

                        <img src="src/qubit.png">

                        <p>
                            "The non-quantum world uses bits, which can only be either 0 or 1. 
                            In the quantum world though, we aren't just limited to these two states, we 
                            also have <span class="password">SUPERPOSITION</span> states! So, instead of just bits, 
                            we use 'qubits'. A qubit can be 0, 1, or a mixture of both! In fact,
                            there are infinitely many <span class="password">SUPERPOSITION</span> states. 
                            The probabilities are endless!"
                        </p>

                        <p>
                            You nodded your head. What he said seemed to be important, 
                            so you jotted down a <span class="password">keyword</span> inside your memo.
                        </p>
                    </template>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
