<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    "I found a bunch of crates in the warehouse. Can you help me stablise them?"
                </template>

                <hr width="100%">

                <div class="intro">

                    <p>
                        Interference is like musicians in a band: if all of them are in harmony,
                        the music is also harmonous and is amplified. However, if they are in conflict, then
                        the music is chaotic and its effect is reduce, or even inaudible.
                    </p>
                    
                    <p>
                        Similarly, quantum interference happens when quantum objects interact with each other.
                        When quantum interference happens, 
                        quantum states might be cancelled out or become amplified.
                    </p>

                    <p>
                        This allows us to remove the unwanted quantum state and amplify the wanted ones.
                    </p>
                </div>

                <hr width="100%">

                <div class="rules">
                    Rules:
                    <ul>
                        <li>The goal of this puzzle is to stablise all quantum crates.</li>
                        <li>Each quantum crate is in a superposition state of stable and unstable. They are represented by waveforms.</li>
                        <li>There are two things you need to accomplish: amplifying the stable state, and cancelling the unstable state.</li>
                        <li>To amplify the stable state, calibrate the device such that its waveform matches that of the stable state.</li>
                        <li>To cancel the unstable state, calibrate the device such that its waveform is the <b>inversion</b> of the waveform of the unstable state.</li>
                    </ul>
                </div>

                <hr width="100%">

                <div class="game">
                    <div v-if="loreText !== null" class="text-content">
                        <div class="lore">
                            {{loreText}}
                        </div>
                        <div>
                            <button @click="textId++" class="next">Next</button>
                        </div>
                    </div>
                    <div v-if="loreText === null && phase > MAXPHASE" class="text-content">
                        <div>  
                            Task completed!<br><br>
                            As a reference, you jotted down <span class="password">{{password}}</span> in your memo.<br><br>
                        </div>
                        <button @click="resetGame">Play Again</button>
                    </div>

                    <div v-show="loreText === null && phase <= MAXPHASE">
                        <div>
                            Box {{phase}}
                        </div>
                        <div class="display">
                            <div class="left">
                                <div :class="{'green': solved.con}">
                                    Stable State
                                </div>
        
                                <wave-diagram :mode="currentAnswers.con.mode" 
                                            :freq="currentAnswers.con.freq" 
                                            colour="white" 
                                            :update="updateBit" 
                                            :inverted="false"></wave-diagram>
        
                                <div :class="{'green': solved.des}">
                                    Unstable State
                                </div>
                                    
                                <wave-diagram :mode="currentAnswers.des.mode" 
                                            :freq="currentAnswers.des.freq" 
                                            colour="white" 
                                            :update="updateBit" 
                                            :inverted="true"></wave-diagram>
                                    
                            </div>
                            
                            
                            <div class="right">
                                <div>
                                    Device Display
                                </div>

                                <wave-diagram :mode="parsedInput.mode" 
                                            :freq="parsedInput.freq" 
                                            colour="#7979d1" 
                                            :update="updateBit"></wave-diagram>

                                <div>
                                    Device mode: 
                                    <select v-model="input.mode">
                                        <option v-for="i in 5">{{i}}</option>
                                    </select>
                                </div>
                                <div>
                                    Frequency: <input v-model="input.freq" type="range" min="1" max="10" step="0.1"> 
                                </div>
        
                                <button class="activate-btn" @click="activate">Activate device</button>
                            </div>
                        </div>
                        <button v-show="solved.con && solved.des" @click="advance" class="continue">
                            Continue
                        </button>
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
