<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <hr width="100%">

                <div class="intro">
                    <p>
                        "Of course, this isn't the only kind of entanglement. 
                        As long as the states of quantum objects are somehow connected, there is entanglement." 
                        Max configures the machine and creates more pairs of packages. Their labels look a bit different.
                    </p>

                    <img src="src/labels.png">
                    
                    <div class="experiment">
                        <table>
                            <tr v-for="i in 4">
                                <template v-for="j in 4">
                                    <td class="package-pair">
                                        <div v-for="k in 2" class="package">
                                            <div class="package-text-con">
                                                <span v-if="seed != -1" :class="classOf(i, j, k == 1)">◯</span>
                                                <span v-else>?</span>
                                            </div>
                                        </div>
                                    </td>
                                </template>
                            </tr>
                        </table>
    
                        <button @click="openAll(1)">Open all</button>
                    </div>

                    <template v-if="seed != -1">
                        <p>
                            You open the packages. This time, each pair of package contains exactly one red ball and one blue ball.
                        </p>

                        <p>
                            "We can also do entanglements with other superposition states, 
                            like balls with different sizes, or different locations, 
                            but I want to show you something more interesting."
                        </p>

                        <p>
                            He creates four pairs of entangled packages, with the same entanglement as before (one red and one blue). 
                            He labelled each pair as red, yellow, blue and green.
                            After that, he separates the pairs of package. From each pair of packages, 
                            he places one box on one side of the room, and another one to another side.
                        </p>

                        <img src="src/room.png">

                        <p>
                            You head to one side of the room and inspect the boxes.
                        </p>
                        
                        <div class="experiment">
                            <table>
                                <tr>
                                    <td v-for="i in 4" class="package" :class="[idToColour(i)]">
                                        <span v-if="seed2 != -1" :class="classOf(i, 0, false, 2)">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
        
                            <button @click="openAll(2)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed2 != -1">
                        <p>
                            After that, you head to the other side of the room and open the boxes.
                        </p>

                        <div class="experiment">
                            <table>
                                <tr>
                                    <td v-for="i in 4" class="package" :class="[idToColour(i)]">
                                        <span v-if="seed3 != -1" :class="classOf(i, 0, true, 3)">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
        
                            <button @click="openAll(3)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed3 != -1">
                        <p>
                            "As you can see, the boxes are still entangled," 
                            Stephen says. "Furthermore, when you open one of the boxes, 
                            the other box's state is also determined immediately, regardless of their distance. 
                            This is true even if the boxes are lightyears apart!"
                        </p>
                        
                        <p>
                            "Why does this happens? We don't know. Einstein calls this '<span class="password">SPOOKY</span> action at a distance', but I call this 'Awesome'." Stephen continues.
                        </p>

                        <p>
                            You noted this down in your <span class="password">memo</span>.
                        </p>
                    </template>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
