<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <hr width="100%">

                <div class="intro">
                    <p>
                        "Of course, this isn't the only kind of entanglement relationship." 
                        Max configured the machine to create more pairs of packages. Their labels looked a bit different.
                    </p>

                    <img src="src/labels.png">
                    
                    <div class="experiment">
                        <table>
                            <tr v-for="i in 4">
                                <template v-for="j in 4">
                                    <td class="package-pair">
                                        <div v-for="k in 2" class="package">
                                            <div class="package-text-con">
                                                <span v-if="seed != -1" :class="classOf(i, j, k == 1)">◯</span>
                                                <span v-else>?</span>
                                            </div>
                                        </div>
                                    </td>
                                </template>
                            </tr>
                        </table>
    
                        <button @click="openAll(1)">Open all</button>
                    </div>

                    <template v-if="seed != -1">
                        <p>
                            You opened the packages. This time, each pair of packages contained exactly one red ball and one blue ball.
                        </p>

                        <p>
                            "As you can see, entanglement relationship isn't unique," Stephen added. 
                            "We can do entanglements with all kinds of superposition states, 
                            like balls with different sizes, or different locations, 
                            but I want to show you something more interesting."
                        </p>

                        <p>
                            He created four pairs of entangled packages, 
                            with the same entanglement relationship as before (one red and one blue). 
                            He labelled each pair as red, yellow, blue or green.
                            After that, he separated the pairs of packages. For each pair of packages, 
                            he placed one of the boxes on one side of the room, and the other one on the other side.
                        </p>

                        <img src="src/room.png">

                        <p>
                            You headed to one side of the room and inspected the boxes.
                        </p>
                        
                        <div class="experiment">
                            <table>
                                <tr>
                                    <td v-for="i in 4" class="package" :class="[idToColour(i)]">
                                        <span v-if="seed2 != -1" :class="classOf(i, 0, false, 2)">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
        
                            <button @click="openAll(2)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed2 != -1">
                        <p>
                            After that, you headed to the other side of the room and opened the boxes.
                        </p>

                        <div class="experiment">
                            <table>
                                <tr>
                                    <td v-for="i in 4" class="package" :class="[idToColour(i)]">
                                        <span v-if="seed3 != -1" :class="classOf(i, 0, true, 3)">◯</span>
                                        <span v-else>?</span>
                                    </td>
                                </tr>
                            </table>
        
                            <button @click="openAll(3)">Open all</button>
                        </div>
                    </template>

                    <template v-if="seed3 != -1">
                        <p>
                            "As you can see, the boxes are still entangled, regardless of their distances," 
                            Stephen said. "Furthermore, when you open one of the boxes, 
                            the other box's state is also determined immediately, even if the boxes are lightyears apart!"
                        </p>
                        
                        <p>
                            "Why does this happen? We don't know. Einstein calls this '<span class="password">SPOOKY</span> action at a distance', but I call this 'Awesome'." Stephen continued.
                        </p>

                        <p>
                            You noted something in your <span class="password">memo</span>.
                        </p>
                    </template>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
