<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    Ayane's a hard one to crack, but with the proper questions, you can alter the possibilities...
                </template>

                <hr width="100%">

                <div class="intro">
                    <p>
                        We might be inclined to think that a measurement is like weighting an object.<br>
                        However, it is actually closer to asking a question.<br> 
                        The result might not be defined before asking the question, but you will get an answer after asking it.<br>
                    </p>

                    <p>
                        Maybe, asking out for a meal is like performing quantum measurement,<br>
                        and the answer behaves like in a state of superposition.<br>
                    </p>
                </div>

                <hr width="100%">

                <div class="game">
                    <!-- <div v-if="loreText !== null" class="lore">
                        {{loreText}}
                    </div>
                    <div>
                        <button v-if="loreText !== null" @click="textId++" class="next">Next</button>
                    </div> -->
                    <div class="content" v-if="loreText === null || true">
                        <div class="left">
                            <div>Ayane's Answer: ??????</div>
                            <div>Probability of yes: {{probability}}</div>
                        </div>
                        <div class="right">
                            <button v-for="move in moves" @click="playMove(move)" class="move-btn">{{move.name}}</button>
                        </div>
                        
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
