body {
    font-size: 16px;
}

.game {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.canvas-con {
    position: relative;
    width: 500px;
    height: 500px;
}

.qubit {
    position: absolute;
    margin: auto;
    top: 200px;
    left: 200px;
    width: 100px;
    height: 100px;
    z-index: 1;
    border: 2px solid white;
    border-radius: 50px;
    margin: auto;
}

.qubit-txt {
    margin: auto;
    font-size: 80px;
}

.button-con {
    margin-bottom: 16px;
}
