<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Loading...</title>
        <link rel="stylesheet" href="global/styles.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle title="A Quantum Investigation" id="main-content">
                <template v-slot:flavour-text>
                    A puzzle hunt by Tim Wong (Buck)
                </template>
                <div>
                    
                    <div class="dedication">
                        Acknowledgement: This website uses <a href="https://vuejs.org/" target="_blank">Vue.js</a> by Evan You.
                    </div>

                    <div class="section">Introduction</div>
                    <ul>
                        <li v-for="(link, i) in links.readme">
                            <a :href="link.anchor" target="_blank">{{link.name}}</a>
                            <span v-if="solves.readme[i]">(Completed!)</span>
                        </li>
                    </ul>
                    <hr width="100%">

                    
                    <template v-if="solves.readme[0]">

                        <div class="section">Beginning</div>
                        <ul>
                            <li v-for="pair in filteredIntros">
                                <a :href="pair.obj.anchor" target="_blank">{{pair.obj.name}}</a>
                                <span v-if="solves.intro[pair.idx]">(Completed! Answer: <span class="password">{{pair.obj.answer}}</span>)</span>
                            </li>
                        </ul>
                        <hr width="100%">

                    </template>

                    <template v-if="solves.intro[2]">
                        <div class="section">Superposition</div>

                        <i>"Now that you have a basic understanding of quantum, I hope you can help me solve these problems."</i>
                        
                        <ul>
                            <li v-for="(link, i) in links.superposition">
                                <a :href="link.anchor" target="_blank">{{link.name}}</a>
                                <span v-if="solves.superposition[i]">(Completed! Answer: <span class="password">{{link.answer}}</span>)</span>
                            </li>
                        </ul>
       
                        <template v-if="!unlockedInterlude">
                            Solve 2 puzzles in this section to proceed.
                        </template>
                        
                        <hr width="100%">
                        
                    </template>

                    <template v-if="unlockedInterlude">
                        <div class="section">Interlude</div>

                        <ul>
                            <li v-for="pair in filteredInterludes">
                                <a :href="pair.obj.anchor" target="_blank">{{pair.obj.name}}</a>
                                <span v-if="solves.interlude[pair.idx]">(Completed! Answer: <span class="password">{{pair.obj.answer}}</span>)</span>
                            </li>
                        </ul>
                        
                        <hr width="100%">
                    </template>
                    
                    <template v-if="solves.interlude[1]">
                        <div class="section">Entanglement</div>

                        <i>"With your further understanding of quantum, I hope you can help me solve these problems."</i>
                        
                        <ul>
                            <li v-for="(link, i) in links.entanglement">
                                <a :href="link.anchor" target="_blank">{{link.name}}</a>
                                <span v-if="solves.entanglement[i]">(Completed! Answer: <span class="password">{{link.answer}}</span>)</span>
                            </li>
                        </ul>
       
                        <template v-if="!unlockedMeta">
                            Solve 2 puzzles in this section to proceed.
                        </template>
                        
                        <hr width="100%">
                    </template>

                    <template v-if="unlockedMeta">
                        <div class="section">Finale</div>

                        <ul>
                            <li v-for="(link, i) in links.meta">
                                <a :href="link.anchor" target="_blank">{{link.name}}</a>
                                <span v-if="solves.meta[i]">(Completed! Answer: <span class="password">{{link.answer}}</span>)</span>
                            </li>
                        </ul>
                        
                        <hr width="100%">
                    </template>

                    <template v-if="solves.meta[0]">
                        <div class="section">Epilogue</div>

                        <ul>
                            <li v-for="(link, i) in links.epilogue">
                                <a :href="link.anchor" target="_blank">{{link.name}}</a>
                                <span v-if="solves.epilogue[i]">(Completed!)</span>
                            </li>
                        </ul>
                        
                        <hr width="100%">
                    </template>


                    Add Memo: <input v-model="inputModel" ref="memoField" placeholder="Enter memo here..."> <button @click="submit">Submit</button>
                </div>
            </base-puzzle>
        </div>
    </body>

    <script src="Libraries/vue.js"></script>
    <script src="global/BasePuzzle.js"></script>
    <script src="index.js"></script>
</html>
