#main-content {
    text-align: left;
}

a, a:hover, a:visited, a:active {
    color: lime;
}

.solution-display {
    padding-bottom: 16px;
}

.solution-display .solution-header {
    padding-bottom: 16px;
}

.solution-display button {
    width: 30px;
    height: 30px;
}

.solution-display .solution {
    border: 2px solid white;
    padding: 8px;
}

.red-bg {
    background-color: red;
}

.light-blue-bg {
    background-color: #7979d1;
}

.pink-bg {
    background-color: pink;
}

/* For label 1, label 2 */
.label-sol .answer-list {
    text-align: center;
}

.label-sol table {
    display: inline-block;
    border-collapse: collapse;
    margin-bottom: 16px;
}

.label-sol td {
    border: 2px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* For meta */
.clue {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.clue-boxes-con {
    display: inline-block;
}

.clue-name {
    font-size: 14px;
    padding-right: 16px;
    width: 100px;
}

.cell {
    width: 30px;
    height: 30px;    
    display: inline-block;
    border: 2px solid white;
    margin-right: 4px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.meta .password {
    border-color: aqua;
    color: aqua;
}