<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="../../global/styles.css">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    "I have to send some quantum packages. Can you help me do so?"
                </template>

                <hr width="100%">

                <div class="page" v-show="page === 1">
                    <p>
                        "Do you know that you can teleport quantum states? Sounds cool, right?" 
                        Stephen brought you to a room. Both of you sat in front of 
                        a machine with a bunch of loose wires, a monitor, and what seemed like a scanner.
                    </p>

                    <img src="src/setup.png">
    
                    <p>
                        Stephen continued: "We will be sending some packages using this device.
                        However, I often run into issues when sending quantum information, so I thought that
                        you might be interested in joining."
                    </p>
                    
                    <p>
                        Stephen turned on the monitor. After that, he took out a box from the storage room nearby.
                        You saw a label on the box:
                    </p>

                    <img src="src/label.png">

                    <p>
                        "A company is ordering some quantum balls, 
                        but they are on the other side of the Earth," Stephen said. 
                        "We can't just send the balls to them using trucks because the environment is very unstable. 
                        The states of the balls will probably collapse before reaching the company, and that's not good.
                        So, we will have to send the states of the ball using quantum teleportation."
                    </p>
                </div>

                <div class="page" v-show="page === 2">
                    <p>
                        "Quantum teleportation? Are you teleporting the lootbox to the other company?" You asked Stephen.
                    </p>

                    <p>
                        Stephen chuckled. "Of course not! Would you send the entire hard disk if you want to send a file?
                        We are merely sending the states of the quantum balls, but not the physical balls."
                    </p>

                    <p>
                        "To do that, we will make use of entangled particles. Both of us have particles that are entangled together.
                        If I measure a particle on my side, the states of the company's particle will update accordingly."
                    </p>

                    <p>
                        "Directly measuring the entangled particles isn't very helpful, 
                        as the measurement result doesn't contain any information about our ball. 
                        However, if we mix the entangled particle and our quantum balls before measurement, 
                        the result will also contain information about our ball.
                    </p>

                    <p>
                        "Now, after I measure the processed qubits on my side, I can send the measurement result to the company.
                        With my measurement results and the entangled particle on their side, 
                        they can reconstruct the state of the quantum balls!"
                    </p>

                    <p>
                        You remembered when Stephen mentioned that to get the full picture of the entangled particles,
                        you need to involve the states of both particles. Maybe this was why Stephen 
                        needed to send the measurement result.
                    </p>

                    <p>
                        "As a side note, even though the states of particles are defined instantly, 
                        we aren't sending information beyond the speed of light," Stephen adds.
                        "We still need to email the measurement results for them to decode the qubits."
                    </p>

                    <img src="src/teleport.png">
                </div>

                <div class="page" v-show="page === 3">
                    <p>
                        "To mix the particles, we need some kind of analyser.
                        As you can see, we have one here... damn it, the analyser broke."
                    </p>

                    <p>
                        "Uh, can you help me with fixing it? Just follow the instructions and it should be fine."
                    </p>

                    <p>
                        You looked at the terminal.
                    </p>
                    
                    <hr width="100%">

                        Rules:<br>
                        <ul>
                            <li>There are three protocols. Fix all protocols to proceed.</li>
                            <li>The analyser combines a quantum ball and an entangled particle to create 
                                qubits with combined states.</li>
                            <li>Your goal is to repair the analyser by figuring out the sequence of instructions
                                used to create the target qubits.</li>
                            <li>Create the ball on the right by applying the correct sequence of instructions.</li>
                            <li>Hint: Experiment with different configurations to determine what they do!</li>
                        </ul>
                        <i>(Note: This puzzle only serves as an abstraction of quantum information processing. 
                            All protocols, step names and states are fictional.)</i>

                    <hr width="100%">

                    <div class="terminal">
                        <div v-if="level <= LEVELMAX" class="terminal-item-con">
                            <div class="level-display">
                                Configuring Protocol {{level}} / 3
                            </div>

                            <div class="terminal-main-display-con">
                                <div class="terminal-panels">
                                    <div class="terminal-section-header">Initial state</div>
                                    <div class="ball-display">
                                        {{initialState.ball[0]}} / {{initialState.ball[1]}}
                                    </div>
                                    <div class="terminal-section-header">Ball</div>
                                    <div class="ball-display gy">
                                        {{initialState.entangled[0]}} / {{initialState.entangled[1]}}
                                    </div>
                                    <div class="terminal-section-header">Entangled Particle</div>
                                </div>
                                <div class="procedure-con">
                                    Procedure:
                                    <ul>
                                        <li v-for="i in 4">Step {{i}}: 
                                            <template v-if="!isCorrect">
                                                <select v-model="steps[i - 1]">
                                                    <option value="-1">---</option>
                                                    <option v-for="i in 3" :value="i - 1">{{stepName[i-1]}}</option>
                                                </select>
                                            </template>
                                            <template v-else>
                                                {{steps[i - 1] === -1 ? "---" : stepName[steps[i - 1]]}}
                                            </template>
                                        </li>
                                        <li>Step 5: Merge</li>
                                    </ul>
                                </div>

                                <div class="terminal-panels">
                                    <div class="terminal-section-header">Outputs</div>
                                    <div class="ball-display end" :class="{'flash': flashTimer > 0}">
                                        {{output.join(" / ")}}
                                    </div>
                                    <div class="terminal-section-header">Current</div>
                                    <div class="ball-display end">
                                        {{target.join(" / ")}}
                                    </div>
                                    <div class="terminal-section-header">Target</div>
                                </div>
                            </div>
                        
                            <span v-show="!isCorrect" class="red">{{timer > 0 ? "Calibration failed" : "Status: Unsynced"}}</span>
                            <span v-show="isCorrect" class="green">Status: Synced</span>
                            <button v-show="!isCorrect" @click="submit">
                                Calibrate
                            </button>
                            <button v-show="isCorrect" @click="next">
                                Next
                            </button>
                        </div>
                        <div v-else class="terminal-done">
                            <span>Configuration Complete.</span>
                        </div>
                    </div>
                </div>

                <div class="page" v-show="page === 4">

                    <p>
                        "Thank you for fixing the analyser. Now we just need to press this button. 
                        After that, the analyser would process the balls and generate the output of measurement."
                    </p>

                    <div class="terminal2">
                        <span v-if="!buttonPressed">Awaiting confirmation...</span>
                        <span v-else>Teleportation complete. 
                            Measurement result:<br>111001110101110010100101 => <span class="password">{{password}}</span></span>
                    </div>

                    <button v-if="!buttonPressed" @click="buttonPressed = true">Confirm</button>

                    <template v-if="buttonPressed">
                        <p>
                            "The measurement outputs are processed to make it more human-readable," Stephen said.

                            "You could also email the zeroes and ones instead, 
                            but I thought that making it output text would be more interesting."
                        </p>

                        <p>
                            "Now we just need to email them this output, and 
                            they will be able to recover the quantum states of the balls!"
                        </p>
    
                        <p>
                            "We can throw away the balls now, as these balls no longer contain
                            the original quantum states. While I would like to keep a copy of the 
                            states of the balls, quantum information cannot be copied.
                            
                            So, we cannot keep a local copy after teleporting the quantum 
                            states to the companies."
                        </p>
    
                        <p>
                            The result of the measurement seemed really interesting, you decided to 
                            jot it down in your <span class="password">memo</span>.
                        </p>
                    </template>
                </div>
                
                <hr width="100%">
                <div>
                    <button :class="{'invisible': page <= 1}" @click="page--">Prev Page</button>
                    <button :class="{'invisible': page >= maxPage}" @click="page++">Next Page</button>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
