<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="../../global/styles.css">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    "I have to send some quantum packages. Can you help me do so?"
                </template>

                <hr width="100%">

                <div class="page" v-show="page === 1">
                    <p>
                        "Do you know that you can teleport quantum states? Sounds cool, right?" 
                        Stephen brings you to a room that has a sign "Delivery". Both of you sit in front of 
                        a machine with a bunch of loose wires, a monitor, and what seems like a scanner.
                    </p>

                    <img>
    
                    <p>
                        Stephen continues: "we will be sending some packages using this device right here.
                        However, I often run into issues when sending quantum information, so I thought that
                        you might be interested in joining."
                    </p>
                    
                    <p>
                        Stephen turns on the monitor, and then he takes out a box from the storage room nearby.
                        You see a label on the box:
                    </p>

                    <img> (the labels should indicate number of balls, and their odds.)

                    <p>
                        "A company is ordering some quantum balls for their lucky draw, but they are on the other side of the Earth,"
                        Stephen says. 
                        "We can't just send the balls to them using trucks because the environment is too unstable. 
                        The states of the balls will probably collapse before reaching the company, and that's not good.
                        So, we will have to send the states of the ball using quantum teleportation."
                    </p>
                </div>

                <div class="page" v-show="page === 2">
                    <p>
                        "We use analysers to encode and decode particle states.
                        All we need to do is to press a button... damn it, the analyser broke."
                    </p>

                    <p>
                        "Uh, can you help me with fixing it? 
                        We have a massively simplified version of the protocol on the computer,
                        just follow the instructions and it should be fine."
                    </p>

                    <p>
                        You look at the terminal.
                    </p>
                    
                    <hr width="100%">

                        Rules:<br>
                        <ul>
                            <li>There are three stages. Complete all stages to proceed.</li>
                            <li>The analyser combines a quantum ball and an entangled particle together.</li>
                            <li>Your target is to repair the analyser by figuring out the sequence of instructions.</li>
                            <li>Create the ball on the right by applying the correct sequence of instruction.</li>
                            <li><i>(Note: All protocols and step names are fictional.)</i></li>
                        </ul>

                    <hr width="100%">

                    <div class="terminal">
                        <div v-if="level <= LEVELMAX" class="terminal-item-con">
                            <div class="level-display">
                                Configuring Protocol {{level}} / 3
                            </div>

                            <div class="terminal-main-display-con">
                                <div class="terminal-panels">
                                    <div class="terminal-section-header">Initial state</div>
                                    <div class="ball-display">
                                        {{initialState.ball[0]}} / {{initialState.ball[1]}}
                                    </div>
                                    <div class="terminal-section-header">Ball</div>
                                    <div class="ball-display gy">
                                        {{initialState.entangled[0]}} / {{initialState.entangled[1]}}
                                    </div>
                                    <div class="terminal-section-header">Entangled Particle</div>
                                </div>
                                <div class="procedure-con">
                                    Procedure:
                                    <ul>
                                        <li v-for="i in 4">Step {{i}}: 
                                            <template v-if="!isCorrect">
                                                <select v-model="steps[i - 1]">
                                                    <option value="-1">---</option>
                                                    <option v-for="i in 3" :value="i - 1">{{stepName[i-1]}}</option>
                                                </select>
                                            </template>
                                            <template v-else>
                                                {{steps[i - 1] === -1 ? "---" : stepName[steps[i - 1]]}}
                                            </template>
                                        </li>
                                        <li>Step 5: Merge</li>
                                    </ul>
                                </div>

                                <div class="terminal-panels">
                                    <div class="terminal-section-header">Outputs</div>
                                    <div class="ball-display end" :class="{'flash': flashTimer > 0}">
                                        {{output[0]}} / {{output[1]}}
                                    </div>
                                    <div class="terminal-section-header">Current</div>
                                    <div class="ball-display end">
                                        {{target[0]}} / {{target[1]}}
                                    </div>
                                    <div class="terminal-section-header">Target</div>
                                </div>
                            </div>
                        
                            <span v-show="!isCorrect" class="red">{{timer > 0 ? "Calibration failed" : "Status: Unsynced"}}</span>
                            <span v-show="isCorrect" class="green">Status: Synced</span>
                            <button v-show="!isCorrect" @click="submit">
                                Calibrate
                            </button>
                            <button v-show="isCorrect" @click="next">
                                Next
                            </button>
                        </div>
                        <div v-else class="terminal-done">
                            <span>Configuration Complete.</span>
                        </div>
                    </div>
                </div>

                <div class="page" v-show="page === 3">

                    <p>
                        "Thank you for fixing the analyser. Now we just need to press this button, 
                        and the analyser would process the balls and generate an output."
                    </p>

                    <div class="terminal2">
                        <span v-if="!buttonPressed">Awaiting confirmation...</span>
                        <span v-else>Teleportation complete. 
                            Measurement result:<br>110010100101 => <span class="password">{{password}}</span></span>
                    </div>

                    <button v-if="!buttonPressed" @click="buttonPressed = true">Confirm</button>

                    <template v-if="buttonPressed">
                        <p>
                            "As you can see, we have processed the measurement outputs to make it more human-readable," Stephen said.

                            "Of course, you could just email the zeroes and ones instead, but I thought that making it output text would be more interesting."
                        </p>

                        <p>
                            "Now we just need to email them this output, and they would be able to recover the balls!"
                        </p>
    
                        <p>
                            "Oh yeah, we can throw away the balls now. Quantum information cannot be copied,
                            so the quantum states of the balls are actually transferred to them."
                        </p>
    
                        <img>
    
                        <p>
                            The result of the measurement seems really interesting, you decide to 
                            jot it down in your <span class="password">memo</span>.
                        </p>
                    </template>

                </div>
                
                <hr width="100%">
                <div>
                    <button :class="{'invisible': page <= 1}" @click="page--">Prev Page</button>
                    <button :class="{'invisible': page >= maxPage}" @click="page++">Next Page</button>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
