body {
    font-size: 16px;
    margin-bottom: 128px;
}

.intro {
    text-align: left;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.label-con {
    display: flex;
    width: 100%;
    justify-content: center;
}

.label {
    font-size: 50px;
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    padding: 8px;

    -webkit-animation: redBlue 4s ease infinite;
}

.red {
    color: red;
}

.blue {
    color: rgb(99, 99, 252);
}

@-webkit-keyframes redBlue {  
    0% { color: red; } 
    10% { color: red; }
    50% { color: rgb(99, 99, 252); }
    60% { color: rgb(99, 99, 252); }
    100% { color: red; }
}

.experiment {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

td {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 30px;
    border: 2px solid white;
}

.experiment2 td {
    border: 2px solid rgb(99, 99, 252);
}

button {
    width: 150px;
    height: 55px;
}