<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="../../global/styles.css">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    "I found a bunch of unstable quantum objects in the warehouse. Can you help me stablize them?"
                </template>

                <hr width="100%">

                <div class="intro">
                    Quantum interference happens when quantum objects interact with each other.
                    When quantum interference happens, 
                    quantum states might be cancelled out or become amplified.

                    This allows us to remove the unwanted quantum state and amplify the wanted ones.
                </div>

                <hr width="100%">

                <div class="game">
                    <template v-if="currentLevel <= LEVELMAX">
                        <div class="level-display">Level {{currentLevel}}</div>

                        <div class="ball-con">
                            <div v-for="ball in remainingBalls" class="ball" :class="ball.type">{{ball.value}}</div>
                        </div>
                    </template>
                    <div v-else="currentLevel > LEVELMAX">
                        Task completed!<br><br>
                        As a reference, you jotted down <span class="password">{{password}}</span> in your memo.<br>
                        <button @click="resetGame">Play Again</button>
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
