<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <hr width="100%">

                <div class="intro">
                    <p>
                        "Thanks for your help, Max!" Stephen said. "Would you come over again in the future?"
                    </p>

                    <p>
                        "Uh..." you stuttered.
                    </p>

                    <p>
                        "Hmm, what's wrong?" Stephen asked.
                    </p>

                    <p>
                        You want to say someething, but you can't quite formulate your mind. So, 
                        you look at your memo. 
                        You feel that all of your previous <span class="password">memos</span> would be <b><i>very useful</i></b> in answering Stephen's question.
                    </p>

                    <div v-for="clue in clues" class="clue">
                        <span class="clue-name password">{{clue.name}} </span>
                        <div class="clue-boxes-con">
                            <div v-for="i in clue.length" :class="{'password-border': i === clue.index}" class="cell">
                            </div>
                        </div>
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
