body {
    font-size: 16px;
}

.intro {
    text-align: left;
}

.clue {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;
}

.clue-boxes-con {
    display: inline-block;
}

.clue-name {
    font-size: 14px;
    padding-right: 16px;
    width: 100px;
}

.cell {
    width: 30px;
    height: 30px;    
    display: inline-block;
    border: 2px solid white;
    margin-right: 4px;
}