<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="./stylesheets/styles.css">
        <link rel="stylesheet" href="../../global/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <hr width="100%">

                <div class="intro">
                    <p>
                        "Max, you might want to take a look at this as well."
                    </p>

                    <p>
                        You followed Stephen into another room. He removed a package from the shelf. 
                        It had the following label:
                    </p>

                    <div class="label-con">
                        <div class="label">
                            <span>◯</span>
                        </div>
                    </div>
                    
                    <p>
                        After that, he put the package inside a big machine.
                    </p>

                    <img src="src/machine.png">

                    <p>
                        After a bunch of clanks and shaking, you saw two packages popping out from the bottom.
                        You inspected the labels of the packages. This time, the label looked pretty different:
                        the purple line seemed to suggest some kind of connection between the two packages.
                    </p>

                    <img src="src/labels.png">

                    <p>
                        Stephen repeated until there were 16 pairs of packages.
                        After that, he arranged them like a grid.
                    </p>

                    <p>
                        "Try to open the packages."
                    </p>
                    
                    <div class="experiment">
                        <table>
                            <tr v-for="i in 4">
                                <template v-for="j in 4">
                                    <td class="package-pair">
                                        <div v-for="k in 2" class="package">
                                            <div class="package-text-con">
                                                <span v-if="seed != -1" :class="classOf(i, j)">◯</span>
                                                <span v-else>?</span>
                                            </div>
                                        </div>
                                    </td>
                                </template>
                            </tr>
                        </table>
    
                        <button @click="openAll(1)">Open all</button>
                    </div>

                    <template v-if="seed != -1">
                        <p>
                            You inspected the packages. You noticed that each pair of package would always have the same colour.
                            Both balls in each package is either red, or blue.
                        </p>

                        <p>
                            "Hmm, what does the machine do to the balls?" You asked Stephen.
                        </p>

                        <p>
                            "The machine splits the package in half 
                            and constuct two packages from the splitted part," he replied.
                            "What's interesting is that, the states of the two balls are always synchronised.
                            They are either both red, or both blue."
                        
                        </p>

                        <p>
                            "Even though we cannot predict the exact state, 
                            we know that there is a connection between the two balls.
                            It is as if the two balls are <span class="password">ENTANGLED</span> together,
                            sharing a common fate."
                        </p>

                        <p>
                            "If we inspect only one of the packages, 
                            we may not realise that these two packages are 
                            somehow <span class="password">ENTANGLED</span>. Only by looking them 
                            together as whole, would we have the full picture of their relationship. 
                            This is the charm of quantum entanglement: 
                            for a pair of <span class="password">ENTANGLED</span> object,
                            you cannot fully describe the state of one of them 
                            without involving the state of the other."
                        </p>

                        <p>
                            You nodded your hand and wrote something down on your <span class="password">memo</span>.
                        </p>
                    </template>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.min.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
