<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Loading...</title>
        <link rel="stylesheet" href="../../global/styles.css">
        <link rel="stylesheet" href="./stylesheets/styles.css">
    </head>
    <body>
        <div id="app">
            <base-puzzle :title="title" class="puzzle">
                <template v-slot:flavour-text>
                    I have lost the labels for these packages. Can you repair them for me?
                </template>

                <hr width="100%">

                <div class="rules">
                    Rules:<br>
                    <ul>
                        <li>There are four boxes in total.</li>
                        <li>Each box contains three quantum balls.</li>
                        <li>Each ball is in a superposition state of two locations.
                        The two locations that a ball may appear in is directly next to each other (orthogonally adjacent).</li>
                        <li>When you open the box, the state of the balls will collapse, giving you one possible 
                            location of the balls. 
                            After opening the box, you can reset the box back to the superposition states.</li>
                        <li>Your target is to label all three balls by marking the possible locations of each ball.</li>
                        <li>To mark a ball, click on the two possible locations of the ball.
                            The colour of the cell doesn't matter, as long as the two locations have the same colour.
                        </li>
                        <li>Clicking on a labelled cell will remove the connection.</li>
                        <li>Hint: Measure multiple times to determine all possible positions of the balls!</li>
                    </ul>
                </div>
                
                <hr width="100%">

                <img src="src/label.png">

                <div class="game">
                    <template v-if="level <= LEVELMAX">
                        <div class="level-display">Level {{level}}</div>

                        <div class="main-game-content">
                            <div class="box-con">
                                <span class="box-label">Box</span>
                                <table>
                                    <tr v-for="r in curRows">
                                        <td v-for="c in curCols" :class="{ unopened: seed === -1}">
                                            {{getCellDisplay(r, c)}}
                                        </td>
                                    </tr>
                                </table>
                                <div class="button-con">
                                    <button @click="measure">Open the box</button>
                                    <button @click="reset">Reset</button>
                                </div>
                            </div>

                            <div class="selection-con">
                                <span class="box-label">Label</span>
                                <table>
                                    <tr v-for="r in curRows">
                                        <td v-for="c in curCols" :class="[getLabelDisplayColour(r, c), (correct ? 'correct' : '')]" @click="select(r, c)">
                                            {{getLabelDisplay(r, c)}}
                                        </td>
                                    </tr>
                                </table>
                                <div v-show="correct" class="right">
                                    Correct! <button @click="proceed">Proceed</button>
                                </div>
                                <div v-show="!correct" class="button-con">
                                    <button @click="resetSelection">Reset Selection</button>
                                    <button @click="submit">Submit</button>
                                </div>
                                <span :class="{ 'invisible': wrongTimer == 0 }" class="wrong">Hmm... your label seems to be wrong.</span>
                            </div>
                        </div>
                    </template>
                    <div v-else="level > LEVELMAX">
                        Task complete!<br><br>
                        As a reference, you jotted down <span class="password">{{text.password}}</span> in your memo.<br>
                        <button @click="resetGame">Play Again</button>
                    </div>
                </div>
            </base-puzzle>
        </div>
    </body>
    <script src="../../libraries/vue.js"></script>

    <script src="../../global/BasePuzzle.js"></script>
    <script src="javascripts/index.js"></script>
</html>
